@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color-scheme: light dark;
}
.modal {
  background: #ffffff; /* witte achtergrond */
  color: red;          /* testkleur rood */
  padding: 20px;
  border-radius: 10px;
  max-width: 600px;
  margin: 40px auto;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
  z-index: 9999;       /* zorgt dat het boven alles staat */
}

